# Weekly Goals Update 06
 
> "This template helps me prioritize, keep track of and review my weekly goals. It will also be quite amusing looking back at what I struggled with in a year."

- toc: true
- badges: true
- comments: true
- categories: [Reading, Books, Academic Papers, Blogs, Mental Diet]
- image: images/to-do-list.png

# Status: 

EAG SF went well. I met a lot of new people and friends I previously made in Prague and London. One main question I explored was whether there are success stories for how we could succeed at aligning AI. To my surprise, not a lot of people have thought about this in a satisfactory manner. Most ideas people propounded were hand wavy statements of the kind: "We'll work hard on this and then hope that nothing breaks. And because it's a hard problem we'll work really hard and this will make us succeed."

Additionally, I explored the question of whether I can become a world-class ML engineer and unfortunately there was no conclusive evidence for or against it. There is a lack of people I can compare myself against, which makes it harder to assess my skill level proportional to the time I invested in building it. In the end, the main take away is probably, that it's too early to tell.

In [3]:
#hide
import pandas as pd 

def prepare_df(file_path):
  
  cols_to_include = ['Goal', 'Points', 'Progress']
  df = pd.read_csv(file_path, usecols=cols_to_include, sep=';')
  df['Total Points'] = df['Points'] * df['Progress'] / 100 
  df.fillna(0,inplace=True)
  df['Points'] = df['Points'].astype(int)
  df['Progress'] = df['Progress'].astype(float) / 100
  df['Points'].iloc[-1] = ' '
  df['Progress'].iloc[-1] = ' '
  df['Total Points'].iloc[-1] = sum(df['Total Points'])

  return df

df = prepare_df('data/weekly_goals/2022-07-24-goals.csv')

C:\Users\Win 10\AppData\Local\Temp\ipykernel_22512\410058310.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Points'].iloc[-1] = ' '
C:\Users\Win 10\AppData\Local\Temp\ipykernel_22512\410058310.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Progress'].iloc[-1] = ' '
C:\Users\Win 10\AppData\Local\Temp\ipykernel_22512\410058310.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Points'].iloc[-1] = sum(df['Total Points'])

In [4]:
#hide_input
df.style.background_gradient(cmap='Greens', subset=['Total Points'])

# Goals:
This week I will focus on catching up with new acquaintances from EAG. 

Apart from that I want to get set up for the Full Stack Deep Learning Course that starts next week.

In [6]:
#hide
df_2 = prepare_df('data/weekly_goals/2022-07-31-goals.csv')

C:\Users\Win 10\AppData\Local\Temp\ipykernel_22512\410058310.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Points'].iloc[-1] = ' '
C:\Users\Win 10\AppData\Local\Temp\ipykernel_22512\410058310.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Progress'].iloc[-1] = ' '
C:\Users\Win 10\AppData\Local\Temp\ipykernel_22512\410058310.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Points'].iloc[-1] = sum(df['Total Points'])

In [7]:
#hide_input
df_2[['Goal', 'Points']]

                                        Goal Points
0         Full Stack Deep Learning Notebooks     25
1       Apply to Research Assistant Position     15
2  Get summary statistics on OpenAI dataset      15
3                                 Explore SF     10
4                          Explore Palo Alto     10
5                   Setup Weights and Biases      5
6                                     Total


# Explore in upcoming week(s):

- Explore San Francisco and Berkeley