# Weekly Goals Update 08
> "This template helps me prioritize, keep track of and review my weekly goals. It will also be quite amusing looking back at what I struggled with in a year."

- toc: true
- badges: true
- comments: true
- categories: [Reading, Books, Academic Papers, Blogs, Mental Diet]
- image: images/to-do-list.png

# Status: 

In the beginning of the week I suffered from severe jet lag. Next time, I'll account for the time lost to potentially overcoming it. Lesson learned.

Towards the end of the week I made good progress on my project and was able to finetune GPT-3 on a larger scale then previously. Tentative results seem promising.

In [3]:
#hide
import pandas as pd 

def prepare_df(file_path):
  
  cols_to_include = ['Goal', 'Points', 'Progress']
  df = pd.read_csv(file_path, usecols=cols_to_include, sep=';')
  df['Total Points'] = df['Points'] * df['Progress'] / 100 
  df.fillna(0,inplace=True)
  df['Points'] = df['Points'].astype(int)
  df['Progress'] = df['Progress'].astype(float) / 100
  df['Points'].iloc[-1] = ' '
  df['Progress'].iloc[-1] = ' '
  df['Total Points'].iloc[-1] = sum(df['Total Points'])

  return df

df = prepare_df('data/weekly_goals/2022-08-14-goals.csv')

C:\Users\Win 10\AppData\Local\Temp\ipykernel_1352\3273588480.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Points'].iloc[-1] = ' '
C:\Users\Win 10\AppData\Local\Temp\ipykernel_1352\3273588480.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Progress'].iloc[-1] = ' '
C:\Users\Win 10\AppData\Local\Temp\ipykernel_1352\3273588480.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Points'].iloc[-1] = sum(df['Total Points'])

In [4]:
#hide_input
df.style.background_gradient(cmap='Greens', subset=['Total Points'])

# Goals:

This week will be all about wrapping up the research project. 

In the end I want to be able to make sense of:
- technical learnings
- meta learnings 
- next steps after CHERI

In [5]:
#hide
df_2 = prepare_df('data/weekly_goals/2022-08-21-goals.csv')

C:\Users\Win 10\AppData\Local\Temp\ipykernel_1352\3273588480.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Points'].iloc[-1] = ' '
C:\Users\Win 10\AppData\Local\Temp\ipykernel_1352\3273588480.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Progress'].iloc[-1] = ' '
C:\Users\Win 10\AppData\Local\Temp\ipykernel_1352\3273588480.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Points'].iloc[-1] = sum(df['Total Points'])

In [6]:
#hide_input
df_2[['Goal', 'Points']]

                                                Goal Points
0                            Compare 4 model outputs     20
1  Writ up experimental setup (compare OpenAI vs ...     20
2                     Write up experimental results      20
3                      Final Presentation PowerPoint     15
4                                        FSDL: Lab 5     10
5                            Draft CHERI Resume Post     10
6                                    FSDL: Lecture 3      5
7                                             Total


# Explore in upcoming week(s):

- Finish up the fellowship